body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

main .input-class {
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 1%;
    border-radius: 25px;
    height: 40px;
    border: solid 1px #dfe1e5;
    width: 550px;
    max-width: 550px;
}

main .input-class:hover, .input-class:focus-within {
    box-shadow: 0 1px 10px rgb(0 0 0 / 0.2);
    border-color: white;
}

main .input-class span {
    margin-left: 12px;
    font-size: 22px;
    color: #9aa0a6;
    cursor: default;
}

main .input-class img {
    height: 22px;
    cursor: pointer;
}

main .input-class img:focus {
    background: rgb(170, 221, 255);
    outline: 1px solid rgb(31, 159, 245);
}

main .input-class input {
    border: none;
    height: 26px;
    width: 476px;
    max-width: 476px;
    margin: 0 5px;
}

main .input-class input:focus {
    outline: none;
}

main .buttons {
    padding-bottom: 1%;
}

main .buttons input {
    background-color: #f8f9fa;
    border: solid 1px #f8f9fa;
    padding: 0 15px;
    height: 40px;
    margin: 6px 12px;
    font-size: 14px;
    border-radius: 5px;
}

main .buttons input:hover {
    border-color: #dfe1e5;
    cursor: pointer;
    box-shadow: 0 1px 1px rgb(0 0 0 / 0.1);
}

main .buttons input:focus {
    outline: none;
    border:1px solid rgb(31, 159, 245);
}

main .languages {
    font-size: small;
}

main .languages a {
    color: #1a0dab;
    text-decoration: none;
}

main .languages a:hover {
    text-decoration: underline;
}
